@font-face {
    font-family: 'Myriad Pro';
    src: local("Myriad Pro Bold"),
    url("/fonts/myriadpro-bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: 'Myriad Pro';
    src: local("Myriad Pro Regular"),
    url("/fonts/myriadpro-regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local("Open Sans Regular"),
    url("/fonts/myriadpro-regular.woff") format("woff");
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #1a1a1a;
    background: #ffffff;
}

.container {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    padding: 0 8px;
}

.head {
    background: #8c5d79;
    margin-bottom: 30px;
    font-family: 'Myriad Pro', sans-serif;
}

.header {
    padding: 20px 0;
}

.logo {
    width: 80%;
    margin: 0 auto;
}

.scheme {
    position: relative;
    text-align: center;
    padding: 40px 0;
}

.circle {
    border-radius: 50%;
    position: absolute;
    background: #5a9aa8;
    transform: translate(-50%, 0);
    left: 50%;
}

.list-block {
    position: relative;
    text-align: center;
}

.list {
    z-index: 1;
    list-style: none;
    display: inline-block;
    text-align: left;
    position: relative;
}

.list-item {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 20px;
}

.right .circle-item {
    margin-right: 12px;
}

.left .list-item:first-child, .left .list-item:nth-child(3) {
    left: 40px;
}

.right .list-item:first-child, .right .list-item:nth-child(3) {
    left: -40px;
}

.right .list-item:before {
    content: '';
    background: #ffffff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 12px;
}

.left .list-item:before, .right .list-item:before {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    background: #ffffff;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.sidebar {
    background: #8c5d79;
}

.content:after, .sidebar:after {
    content: "";
    position: absolute;
    height: 100%;
}

.share-block {
    background: #89c39b;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.share-img {
    display: inline-block;
    max-width: 120px;
    border-radius: 50%;
    vertical-align: middle;
}

.share-head {
    font-weight: bold;
    margin-bottom: 15px;
}

.share-item:last-child {
    margin-top: 4px;
}

.numb {
    border: 3px solid;
    border-radius: 50%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-top: 5px;
}

.position-block {
    font-family: 'Open Sans', sans-serif;
}

.item-img {
    display: block;
    background: #89c39b;
    min-height: 200px;

}

.item-img:hover {
    background: #5a9aa8;
}

.item-img:active {
    background: #8c5d79;
}

.item-desc {
    text-align: left;
}

.column.order:nth-child(odd) {
    width: 100%;
    float: none;
    clear: left;
}

.container {
    max-width: 100%;
}

.share-block {
    text-align: center;
    margin-bottom: 30px;
}

.media {
    padding: 20px 10px;
}

.share-head {
    margin-top: 10px;
}

.share-numb {
    text-align: center;
    background: #8c5d79;
    color: #ffffff;
    padding: 16px 0;
}

.share-item {
    display: inline-block;
    width: 48%;
}

.position-block {
    margin-bottom: 20px;
}

.item-content {
    margin-bottom: 30px;
}

.item-head {
    text-transform: uppercase;
    font-size: 24px;
    margin: 30px 0 15px 0;
    text-align: center;
}

.order-btn {
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 5px;
    background: #8c5d79;
    text-transform: uppercase;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 30px;
    padding: 10px 80px;
}

.sidebar {
    width: 100%;
    min-height: 300px;
    margin-top: 40px;
}

.footer {
    background: #f5f5f5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    margin-top: 30px;
    padding: 40px 0;
}

/* sm-устройства (больше или равно 576px) */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

}

/* md-устройства (больше или равно 768px) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        padding: 0 15px;
    }

    .row {
        margin: 0 -15px;
    }

    .row:after {
        display: table;
        content: "";
        clear: both;
    }

    .column {
        float: left;
        position: relative;
        padding: 0 15px;
    }

    .header {
        padding-top: 30px;
    }

    .logo {
        width: 50%;
    }

    .scheme {
        padding: 40px 0;
    }

    .list {
        width: 100%;
        text-align: left;
    }

    .list.right {
        text-align: left;
    }

    .circle {
        display: none;
    }

    .list-item {
        position: static;
    }

    .media {
        width: 80%;
        padding: 35px 0 35px 35px;
    }

    .share-item {
        width: 100%;
    }

    .share-desc, .share-head {
        text-align: left;
    }

    .share-text {
        display: inline-block;
        width: 72%;
        vertical-align: middle;
        margin-left: 10px;
    }

    .share-numb {
        width: 20%;
        margin-bottom: -150px;
        padding: 16px 0 150px 0;
    }

    .item-content {
        width: 50%;
        margin-top: 50px;
        text-align: center;
    }

    .order-btn {
        margin-top: calc(50% - 56px);
    }

    .column.order:nth-child(odd) .order-btn {
        margin-top: 50px;
    }

    .footer {
        padding: 150px 0;
    }

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .logo {
        width: 25%;
        margin: 0;
    }

    .scheme {
        padding: 80px 0;
    }

    .list {
        width: 49.5%;
    }

    .circle {
        display: block;
        width: 200px;
        height: 200px;
    }

    .list.right {
        text-align: right;
    }

    .left .list-item:after {
        content: '';
        background: #ffffff;
        border-radius: 50%;
        vertical-align: middle;
        margin-left: 12px;
    }

    .left .list-item:before {
        display: none;
    }

    .left .list-item:after, .right .list-item:before {
        width: 50px;
        height: 50px;
        display: inline-block;
    }

    .list-item {
        margin-bottom: 23px;
        position: relative;
    }

    .content {
        width: 72%;
        margin-right: 3%;
    }

    .sidebar {
        width: 25%;
        min-height: 100px;
        padding-bottom: 99999px;
        margin-bottom: -99999px;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 60px 0 30px 0;
    }

    .container {
        max-width: 1120px;
    }

    .scheme {
        padding: 111px 0 118px 0;
    }

    .circle {
        width: 350px;
        height: 350px;
    }

    .list-item {
        margin-bottom: 46px;
    }

    .left .list-item:after, .right .list-item:before {
        width: 85px;
        height: 85px;
    }
}

